<nav class="navbar navbar-expand-sm bg-light navbar-light mb-4">
  <ul class="navbar-nav mr-auto">
    <li class="nav-item">
      <a routerLink="/home" class="nav-link" routerLinkActive="active">
        <i class="fa fa-lg fa-home"></i>
      </a>
    </li>
  </ul>

  <div class="mr-3">
    <b>{{loginState}}</b>  
  </div>
  <button *ngIf="!showLogout" routerLink="/login" class="btn" routerLinkActive="active">
    <i class="fa fa-lg fa-sign-in"></i>
    login
  </button>
  <button  *ngIf="showLogout" class="btn"
      (click)="logOut()"
      [disabled]="disableLogout" >
    <i class="fa fa-lg fa-sign-out"></i>
    logout
  </button>
</nav>
<router-outlet></router-outlet>